<po-page-default>
  <po-loading-overlay *ngIf="loading" [p-screen-lock]="true" p-text="Carregando">
  </po-loading-overlay>

  <main class="po-row" *ngIf="hasEstabelecimentos">
    <po-widget class="po-sm-6" *ngFor="let item of e_todo" p-title="{{item.nome}}" [p-height]="100"
      p-primary-label="user este" (p-primary-action)="usarE(item.id)"></po-widget>
  </main>

  <main class="" *ngIf="!hasEstabelecimentos">
    <h1 class="warning">
      Nenhum estabelecimento cadastrado
    </h1>
  </main>

  <po-button [routerLink]="['/welcome']" p-label="Novo Estabelecimento"
    class="po-sm-12"></po-button>
</po-page-default>
