<po-page-default>
  <po-breadcrumb [p-items]="breadcrumb">
  </po-breadcrumb>
  <div class="po-font-subtitle po-m-2">Importar dados</div>
  <div id="clientes">
    <label for="file">Importar Clientes</label>
    <input id="file" type="file" accept=".json" (change)="uploadCliente($event)" name="" id="">
  </div>

  <div id="clientes">
    <label for="file">Importar Produtos</label>
    <input id="file" type="file" accept=".json" (change)="uploadProduto($event)" name="" id="">
  </div>

  <div id="clientes">
    <label for="file">Analytics Dados</label>
    <input id="file" type="file" accept=".json" name="" id="">
  </div>

  <div id="clientes">
    <label for="file">Importar Configuracoes</label>
    <input id="file" type="file" accept=".json" name="" id="">
  </div>

</po-page-default>